<section id="header">
  <header class="container text-center">
    <nav>
      <div class="nav-container container-fluid">
        <a class="navbar-brand">Bacancy Task</a>
        <ul>
          <li>
            <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
          </li>
          <li>
            <a class="nav-link active" aria-current="page" [routerLink]="['/products']">Products</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</section>