@import "src/app/styles/variables.scss";
#stock-update {
    input {
        width: 3rem;
    }
    .label {
        color: $light-color;
        padding: 6px;
        margin-right: 10px;
        border-radius: 2px;
    }
}
